<h1>404</h1>
<p>Looks like you tried to request an invalid route. Please check the URL and try again!</p>
<p>If you think that something is missing, please use the <%= link_to 'contact form', '/contact' %> to tell us about it.</p>
<p><%= link_to 'Start Again', Machine %>
