<h1>500</h1>
<p>Something went wrong at our end. If you like, you could help us out by filling in the <%= link_to 'contact form', '/contact' %> and telling us what happened (the message below should help us work out what's wrong). That way we'll be able to take a look at the problem right away.</p>
<p><%= link_to 'Start Again.', Machine %></p>
<h3>Details:</h3>
<p><pre><%= @exception %></pre></p>
