<h1>404(ish)</h1>
<p>You tried to request a machine that doesn't exist. Please check the spelling of the name.</p>
<p>If you're certain the machine should be here (for example, if you're sitting at it), please use the <%= link_to 'contact form', '/contact' %> to tell us about it.</p>
<p><%= link_to 'Start Again', Machine %>
