<div class="row">
	<div class='alert alert-success'>
		<h3>Note:</h3>
		<p>You are viewing the page for a specific <strong>machine.</strong><br />
		Click on <%= link_to "Main Page", url_for(Machine) %> in the navigation menu above to return to the default view.</p>
	</div>
</div>

<div class='row'>
	<div id='machines'>
		<table class='table-condensed table-striped'>
		  <thead>
		  <tr>
		    <th>Name</th>
		    <th>Lab</th>
		    <th>Last Checked</th>
		  </tr>
		  </thead>
		  <tbody>
			<%= render :partial => 'entry', :object => @machine %>
		</tbody>
		</table>
	</div>
</div>